@font-face {
  font-family: 'RetroSignature';
  src: url('fonts/RetroSignature.otf');  
}

body {
    background: linear-gradient(40deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 400% 400%;
      animation: gradient 15s ease infinite;
    font-family: system-ui, Georgia, serif;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .login-content {
    background: rgba(255,255,255,0.2);
    position: absolute;
    top: 30vh;
    padding: 8vh;
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.2), inset 3px 3px 5px 1px rgba(255,255,255,0.3);
    transform: rotateY(0deg);
    transition: 1s;
    border-width: 2px 0px 0px 2px;
    border-color: rgba(255,255,255,0.5);
    border-style: outset;
    border-radius: 10px;
  }  
  
  h1 {
    font-size: 1.5em;
    text-align: center;
  }
  
  .login-content input {
    color: white;
    background: rgba(255,255,255,0.4);
    border: none;
    transition: 1s;
    margin-bottom: 5px;
  }
  
  .login-content input:focus {
    outline: none;
    border-bottom: 3px solid rgba(255,255,255,0.5);
    transition: 0.2s;
  }
  
  .login-content input::placeholder {
    color: black;
    font-family: system-ui, Georgia, serif;
  }

  .btn-validate {
    text-align: center;
    padding: 10px;
    background: rgba(10,10,10,0.2);
    margin-top: 10px;
    border-radius: 50px;
    transition: 1s;
  }
  
  .btn-validate:hover {
    background: rgba(200,200,200,0.7);
    cursor: pointer;
  }
  
  .btn-validate:active {
    background: rgba(100,100,100,0.6);
    transition: 0.1s;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }  
  
  .section {
    position: relative;
    height: 100%;
    width: 100%;
    border: inset red 1px solid;
    transition: 1s ease-out;
    transform: rotateY(180deg);
  }
  
  #content {
    top: 0px;
    bottom: 0px;
    display: none;
    position: absolute;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
    
  .section .title {
    transition: 1s;
    font-family: 'RetroSignature';
    font-size: 7vw;
    text-align: center;
    margin: 0 auto;
    top: 15vh;
    position: relative;
    width: 50%;
    display: none;
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    border-radius: 5px;
    padding: 15px;
  }
  
  .section .title:hover {
    cursor: pointer;
  }
  
  .section .title span {
    animation: 1.5s infinite flicker alternate;
  }
  
  .square {
    opacity: 1;
    visibility: visible;
    transition: 1s;
    width: 100%;
  }
    
  .close {
    background: rgba(150,150,150,0.5);
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    transition: 1s;
    margin-left: 3%;
    margin-top: 3%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    visibility: hidden;
    display: none;
  }
  
  .close:hover {
    background: rgba(242,100,100,0.8);
    border: 1px solid rgba(255,150,150,0.8);
    cursor: pointer;
  }
  
  .section:hover .close {
    display: block;
  }
    
  @keyframes flicker {
    0%, 18%, 22%, 35%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    20%, 24%, 55% {
      text-shadow: none;
    }
  }
  
.section-content {
  text-align: center;
  top: 40vh;
  position: absolute;
  width: 100vw;
  background: rgba(255,255,255,0.2);
  padding-bottom: 2%;
}
